.app-container {
  background-color: #152850;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 30px;
  text-align: center;
}

.website-logo {
  height: 50px;
  width: 100px;
}

.button {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  border-radius: 0px;
  height: 38px;
  width: 120px;
  background: none;
  border: solid #ffffff;
}
